@model BusTicketApp.Domain.Models.BusRoute

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BusRoute</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RouteName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RouteName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationTown)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationTown)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistanceKm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistanceKm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusStation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusStation.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
